@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@font-face{
    font-family: "South Park";
    src: url("font/south\ park.ttf");
}


*{
    box-sizing: border-box;
    font-family: Raleway;
    color: rgb(119, 119, 119);   
}


html, body{
    margin: 0px;
    padding: 0px;
}

.main-header{
    background-image: url("images/SouthPark.jpg");
    background-size: cover;
    padding: 110px;    
}


.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: rgb(77, 77, 77);
    text-decoration: none;
    margin-top: 10px;
}

.main-nav a:hover{
    background-color: rgb(247, 233, 233);
}

.main-nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

.content-section{
    margin: 1em;
}

.container{
    max-width: 900px;
    margin:0 auto;
    padding: 0 1.5em;
}

.section-header{
    font-family: "Grandstander";
    font-size: 2em;
    font-weight: bold;
    color: rgba(38, 38, 38,0.9)
}

.about-image{
    float: left;
    margin: 15px;
    border-radius: 50%;
}

.main-footer{
    background-image: linear-gradient(to right,rgba(255, 165, 0,1),rgba(255, 255, 0,0.9),rgba(255, 165, 0,0.9));
    margin-top: 100px;   
}

.tv-show-name-footer{
    font-family: "Comfortaa";
    font-size: 3em;;
    color: white;
    padding: 0;
    margin: 0;    
}

.main-footer-container{
    display: flex;
    align-items: center;  
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.nav-footer li{
    padding: 0 0.6em;
    border: none;
}


.nav-footer a:hover{
    opacity: 0.5;
}

.tv-show-name{
    font-family: "South Park";
    color: black;
    text-align: center;
    font-size: 6em;
    margin: 20px;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: 0.67em;
    cursor: pointer;
    background-color:rgba(77, 210, 255,0.5);
    border-color: rgba(77, 210, 255,0.6);
    color: black;
    border-radius: .3em;
    font-weight: bold;
}

.btn:hover{
    background-color: rgba(0, 191, 255,0.5);
}

.btn-header{
    display: inline;
    font-size: 1.4em;  
    margin: .5em 0% .5em 26%;
    padding: 20px 5px;
  
}


.btn-play{
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-left: 50px;
    font-size: 2.5em;
    border-radius: 50%;
    
}

.episode-row{
    border-bottom: 1px solid rgba(51, 51, 51,0.6);
    padding: 1em;
    margin: 1em;
}

.episode-row:last-child{
    border-bottom: none;
}

.ep-item{
    display: inline-block;
    padding-right: 0.5em;
  
}


.ep-title{
    font-weight: bold;
    width: 45%;
   
}

.ep-date{
    width: 25%;
    text-align: center;
}

.ep-btn{
    max-width: 25%;
    padding: 10px 5px;
    
    
}


.title{
    margin-left: 30px;
}

.shop{
    text-align: center;
}

.shop-item{
    margin: 30px;
}

.item-title{
   display: block;
   width: 100%;
   text-align: center;
   font-weight: bold;
   font-size: 1.5em;
   color: rgb(77, 77, 77);
   margin-bottom: 15px;
}

.item-image{
    width: 200px;
    height: 250px;
}

.item-details{
    display: flex;
    align-items: center;
    padding: 5px;
}

.item-price{
    flex-grow: 1;
    color: black;
    font-weight: bold;
}

.item-btn{
    color: white;
    background-color: rgb(0, 153, 255);
    border-color: rgb(0, 138, 230);
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.cart-header{
    font-weight: bold;
    font-size: 1.2em;
    color:  rgb(77, 77, 77);
}

.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(140, 140, 140);
    margin-right: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-total-item-price{
    width: 20%;
    font-size: 1.2em;
}

.cart-row{
    display: flex;
}

.cart-item{
    width: 30%;
}

.cart-price{
    width: 20%;
    font-size: 1.2em;
}

.cart-quantity{
    width: 25%
}



.cart-item-title{
    font-family: "Grandstander";
    font-weight: bold;
    color: black;
    margin-left: .5em;
    font-size: 1.3em;

}



.cart-item-image{
    width: 90px;
    height: 120px;
    border-radius: 10px;
}

.btn-danger{
    color: white;
    font-weight: bolder;
    background-color: rgba(255, 0, 0, 0.7);
    border:none;
}

.btn-danger:hover{
    background-color: rgba(255, 0, 0, 0.4);
}

.cart-quantity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(0, 153, 255);
    background-color: rgb(242, 242, 242);
    color: black;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
    margin-left: 0px;
}

.cart-row:last-child{
    border-bottom: 1px solid black;
    
}

.cart-row:last-child .cart-column{
    border:none;
}

.cart-total{
    text-align: end;
    margin-top: 25px;
    margin-right: 50px;
}

.cart-total-title{
    
    font-family: "Grandstander";
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    margin-right: 20px;
}

.cart-total-price{
    font-family: "Grandstander";
    font-weight: bolder;
    color: black;
    font-size: 1.5em;
    margin-right: 68px;
}
  

.btn-purchase{
    font-size: 1.2em;
    color: white;
    background-color: rgb(0, 153, 255);
    border-color: rgb(0, 138, 230);
    display: block;
    margin: 40px auto 80px auto;
}

.info-title{
    color:red;
}